<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta charset="UTF-8">
<title>削除確認</title>
</head>
<body  class="container__body">
<h1 class="container__heading-1">削除確認</h1>
以下のレコードを削除します。宜しいですか？

<form method="post" action="/delete_record" th:object="${record}">
	<table class="input-table__table">
		<tr><th class="input-table__table-head"><p th:text ="|ID: *{id}|"></p></th>
		<tr><td class="input-table__table-data"><p th:text ="|名前: *{name}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|誕生日: *{birthday}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|E-mail: *{email}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|住所: *{address}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|卒業年: *{graduation}|"></p></td>
	</table>
	<input type="hidden" th:value="*{id}" name="id" class="container__btn">
	<input type="submit" value="削除" class="container__btn"/>
	<input type="button" value="中止" onclick="location.href='/'" class="container__btn">
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>