<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
<meta charset="UTF-8">
<title>削除確認</title>
</head>
<body  class="container__body">
<h1 class="container__heading-1">削除確認</h1>
以下のレコードを削除します。宜しいですか？

<form method="post" action="/delete_comfirm" th:object="${formModel}">
	<table class="input-table__table">
		<tr><th class="input-table__table-head"><p th:text ="|ID: *{id}|"></p></th>
		<tr><td class="input-table__table-data"><p th:text ="|名前: *{name}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|誕生日: *{birthday}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|E-mail: *{email}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|住所: *{address}|"></p></td>
		<tr><td class="input-table__table-data"><p th:text ="|卒業年: *{graduation}|"></p></td>
	</table>
	<input type="hidden" th:value="*{id}" name="hiddenId" class="container__btn">
	<input type="submit" value="削除" class="container__btn"/>
	<input type="button" value="中止" onclick="location.href='/'" class="container__btn">
</form>


</body>
</html>