<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" media="all" th:href="@{/css/style.css}"/>
<meta charset="UTF-8">
<title>編集</title>
</head>
<body  class="container__body">
<h1 class="container__heading-1">編集</h1>
<form method="post" action="/edit_record" th:object="${record}">
	<table class="input-table__table">
		
		<tr><th class="input-table__table-head">項目</th>
			<th class="input-table__table-head">入力欄<input type="hidden" name="id" th:value="*{id}"/></th></tr>
		<tr><td class="input-table__table-data">名前</td>
			<td class="input-table__table-data"><input type="text" class="container__textbox" name="name" th:value="*{name}" th:errorclass="err"/>
				<div th:if="${#fields.hasErrors('name')}" 
				th:errors="*{name}" th:errorclass="err"></div></td>
		</tr>
		
		<tr><td class="input-table__table-data">ふりがな</td>
			<td class="input-table__table-data"><input type="text" class="container__textbox" name="namePhonetic" th:value="*{namePhonetic}" th:errorclass="err"/>
				<div th:if="${#fields.hasErrors('namePhonetic')}" 
				th:errors="*{namePhonetic}" th:errorclass="err"></div></td>
		</tr>
		<tr><td class="input-table__table-data">誕生日</td>
			<td class="input-table__table-data"><input type="text" class="container__textbox" name="birthday" th:value="*{birthday}" th:errorclass="err"/>
			<div th:if="${#fields.hasErrors('birthday')}"
			th:errors="*{birthday}" th:errorclass="err"></div></td>
		</tr>
		<tr><td class="input-table__table-data">電話番号</td>
			<td class="input-table__table-data"><input type="text" class="container__textbox" name="phone" th:value="*{phone}" th:errorclass="err"/>
			<div th:if="${#fields.hasErrors('phone')}"
			th:errors="*{phone}" th:errorclass="err"></div></td>
		</tr>
		<tr><td class="input-table__table-data">E-mail</td>
			<td class="input-table__table-data"><input type="text" class="container__textbox" name="email" th:value="*{email}" th:errorclass="err"/>
			<div th:if="${#fields.hasErrors('email')}"
			th:errors="*{email}" th:errorclass="email"></div>
			</td>
		</tr>
		<tr><td class="input-table__table-data">住所</td>
			<td class="input-table__table-data"><input type="text" class="container__textbox" name="address" th:value="*{address}" th:errorclass="err"/>
			<div th:if="${#fields.hasErrors('address')}"
			th:errors="*{address}" th:errorclass="address"></div>
			</td>
		</tr>
		<tr><td class="input-table__table-data">卒業年</td>
			<td class="input-table__table-data"><input type="text" class="container__textbox" name="graduation" th:value="*{graduation}" th:errorclass="err"/>
			<div th:if="${#fields.hasErrors('graduation')}"
			th:errors="*{graduation}" th:errorclass="graduation"></div>
			</td>
		</tr>
	</table>
	<input type="submit" value="データを更新" class="container__btn"/>
</form>

</body>
</html>