<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<meta charset="UTF-8">
<title>生徒情報管理</title>
</head>
<body  class="container__body">
<h1>生徒情報管理</h1>
 
 <div class="card w-25 mx-auto">
 <div class="card-header">削除内容</div>
 <div class="card-body">
 <form method="post" action="/edit_record" th:object="${record}">
	<input type="hidden" name="id" th:value="*{id}"/>
	<div class="form-group">
		<label for="InputName">名前</label>
		<input type="text" class="form-control" id="InputName" placeholder="名前を入力してください" 
		name="name" th:value="*{name}" th:errorclass="err">
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err"></div>
	</div>
		<div class="form-group">
		<label for="InputPhonetic">ふりがな</label>
		<input type="text" class="form-control" id="InputPhonetic" placeholder="ふりがなを入力してください" 
		name="namePhonetic" th:value="*{namePhonetic}" th:errorclass="err">
		<div th:if="${#fields.hasErrors('namePhonetic')}" th:errors="*{namePhonetic}" th:errorclass="err"></div>
	</div>
	<div class="form-group">
		<label for="InputBirthday">誕生日</label>
		<input type="text" class="form-control" id="InputBirthday" placeholder="誕生日を入力してください" 
		name="birthday" th:value="*{birthday}" th:errorclass="err">
		<div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" th:errorclass="err"></div>
	</div>
	<div class="form-group">
		<label for="InputPhone">電話番号</label>
		<input type="text" class="form-control" id="InputPhone" placeholder="電話番号を入力してください" 
		name="phone" th:value="*{phone}" th:errorclass="err">
		<div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:errorclass="err"></div>
	</div>
	<div class="form-group">
		<label for="InputEmail">E-mail</label>
		<input type="text" class="form-control" id="InputEmail" placeholder="メールアドレスを入力してください" 
		name="email" th:value="*{email}" th:errorclass="err">
		<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="err"></div>
	</div>
	<div class="form-group">
		<label for="InputAddress">住所</label>
		<input type="text" class="form-control" id="InputAddress" placeholder="メールアドレスを入力してください" 
		name="address" th:value="*{address}" th:errorclass="err">
		<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:errorclass="err"></div>
	</div>
	<div class="form-group">
		<label for="InputGraduation">卒業年</label>
		<input type="text" class="form-control" id="InputGraduation" placeholder="メールアドレスを入力してください" 
		name="graduation" th:value="*{graduation}" th:errorclass="err">
		<div th:if="${#fields.hasErrors('graduation')}" th:errors="*{graduation}" th:errorclass="err"></div>
	</div>
	<input type="submit" value="更新" class="btn btn-outline-primary"/>
	<input type="button" onclick="location.href='/'" value="中止" class="btn btn-outline-secondary" />
	
 </form>
 </div>
 </div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>