<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script type="text/javascript" src="js/index.js" th:href="@{/js/index.js}"></script>
<meta charset="UTF-8">
<title>生徒情報管理</title>
</head>

<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light px-5 mb-5">
  <a class="navbar-brand">生徒情報管理</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>	
	<input type="button" onclick="location.href='/add_record'" value="新規追加" class="btn btn-outline-primary">
	<div class="col-md-1">
	
	<select class="form-control" id="SelectBox" onchange="OnSelectChange();" >
		<option>並び替え</option>
		<option>ID順</option>
		<option>名前順</option>
		<option>電話番号順</option>
	</select>

	</div>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" class="form-control mr-sm-2" placeholder="検索は未実装..." aria-label="検索...">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
    </form>
    <input type="button" onclick="test()" value="js接続確認テスト" class="ml-5">
</nav>
	
	<form >
		<div class="card w-75 mx-auto">
		<div class="card-header">生徒一覧</div>
		<table class="table table-striped table-hover table-sm">
			<tr>
				<th>生徒番号</th>
				<th>名前</th>
				<th>誕生日</th>
				<th>電話番号</th>
				<th>E-mail</th>
				<th>住所</th>
				<th>卒業年</th>
				<th><!--編集ボタン--></th>
				<th><!--削除ボタン --></th>
				
			</tr>
			<tr th:each="record:${recordSet}">
				<td>[[${record.id}]]</td>
				<td>[[${record.name}]]</td>
				<td>[[${record.birthday}]]</td>
				<td>[[${record.phone}]]</td>
				<td>[[${record.email}]]</td>
				<td>[[${record.address}]]</td>
				<td>[[${record.graduation}]]</td>
			 	<td><a th:href="@{'edit_record/'+${record.id}}">編集</a></td>
			 	<td><a th:href="@{'delete_record/'+${record.id}}">削除</a></td>
			</tr>
		</table>
		</div>
	</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>